:root {
	--ion-color-primary: #1B447D;
	--ion-color-primary-rgb: 27,68,125;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #183c6e;
	--ion-color-primary-tint: #32578a;

	--ion-color-secondary: #B62739;
	--ion-color-secondary-rgb: 182,39,57;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #a02232;
	--ion-color-secondary-tint: #bd3d4d;

	--ion-color-tertiary: #488aff;
	--ion-color-tertiary-rgb: 72,138,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #3f79e0;
	--ion-color-tertiary-tint: #5a96ff;

	--ion-color-success: #0a8630;
	--ion-color-success-rgb: 10,134,48;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #09762a;
	--ion-color-success-tint: #239245;

	--ion-color-warning: #ebd350;
	--ion-color-warning-rgb: 235,211,80;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #cfba46;
	--ion-color-warning-tint: #edd762;

	--ion-color-danger: #f53d3d;
	--ion-color-danger-rgb: 245,61,61;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #d83636;
	--ion-color-danger-tint: #f65050;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}