<aside class="main-sidebar">
  <div class="user-panel">
    <div class="pull-left">
      <img src="assets/images/aguilera_motors.png" class="img-responsive" alt="Logo Empresa">
    </div>
  </div>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Menú de opciones</li>
      <!-- <li routerLinkActive="active" *ngIf="isAdmin">
          <a [routerLink]="['/buzon']"><i class="fa fa-envelope"></i> <span>Notificaciones</span></a>
      </li> -->
      <li routerLinkActive="active" *ngIf="isAdmin">
          <a [routerLink]="['/lista-conductores']"><i class="fa fa-user-tie"></i> <span>Conductores</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin">
        <a [routerLink]="['/lista-clientes']"><i class="fa fa-users"></i> <span>Clientes</span></a>
      </li>
      <!-- <li routerLinkActive="active" *ngIf="isAdmin">
        <a [routerLink]="['/lista-borradores']"><i class="fa fa-file-alt"></i> <span>Borradores</span></a>
      </li> -->
      <li routerLinkActive="active" *ngIf="isAdmin">
        <a [routerLink]="['/lista-servicios']"><i class="fa fa-car-side"></i> <span>Servicios</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin">
        <a [routerLink]="['/mapa']"><i class="fa fa-map-marker-alt"></i> <span>Mapa (Hoy)</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="isAdmin">
          <a [routerLink]="['/reportes']"><i class="fa fa-chart-bar"></i> <span>Reportes</span></a>
      </li>
      <li class="treeview" routerLinkActive="active" *ngIf="isAdmin">
        <a href="#">
            <i class="fas fa-cog"></i> &nbsp; <span>Configuración</span>
            <span class="pull-right-container">
                <i class="fas fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <!-- <li routerLinkActive="active"><a [routerLink]="[ '/ajustes' ]"><i class="fas fa-circle"></i> &nbsp; Ajustes de notificaciones</a></li> -->
          <li routerLinkActive="active"><a [routerLink]="[ '/lista-usuarios' ]"><i class="fas fa-circle"></i> &nbsp; Usuarios</a></li>
          <!-- <li routerLinkActive="active"><a [routerLink]="[ '/catalogos' ]"><i class="fas fa-circle"></i> &nbsp; Catálogos</a></li>
          <li routerLinkActive="active"><a [routerLink]="[ '/respaldo' ]"><i class="fas fa-circle"></i> &nbsp; Base de datos</a></li> -->
          <li routerLinkActive="active"><a [routerLink]="[ '/cambiar-contrasena' ]"><i class="fas fa-circle"></i> &nbsp; Cambiar contraseña</a></li>
        </ul>
      </li>

      <li routerLinkActive="active" *ngIf="!isAdmin">
        <a [routerLink]="['/mis-servicios']"><i class="fa fa-home"></i> <span>Mis servicios</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAdmin">
        <a [routerLink]="['/mi-reporte']"><i class="fa fa-chart-bar"></i> <span>Reporte</span></a>
      </li>
      <li class="treeview" routerLinkActive="active" *ngIf="!isAdmin">
        <a href="#">
          <i class="fas fa-cog"></i> &nbsp; <span>Configuración</span>
          <span class="pull-right-container">
              <i class="fas fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a [routerLink]="[ '/cambiar-contrasena' ]"><i class="fas fa-circle"></i> &nbsp; Cambiar contraseña</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>