<div class="modal fade" id="modal-importar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Importar servicios desde Excel</h4>
      </div>
      <form class="form" #form="ngForm" (submit)="submitForm(form)">
        <div class="modal-body">
          <!-- <p>Ver <a href="#">plantilla de ejemplo</a> para el formato requerido.</p> -->
          <div class="form-group mt-4">
            <label>Seleccionar archivo de Excel a importar (xlsx)</label>
            <input type="file" #inputFile name="inputFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <!-- <p class="help-block">Formato permitido .xlsx</p> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn bg-navy">Importar</button>
        </div>
      </form>
    </div>
  </div>
</div>
