<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="fas fa-phone"></i>
  </a>
  <ul>
      <li>
          <a id="first-fab" class="btn-floating" data-fabcolor="#45d1ff" href="tel:4499010386">
            <i class="fas fa-phone"></i>
          </a>
      </li>
      <li>
          <a id="first-fab" class="btn-floating" data-fabcolor="#45d1ff" href="tel:4499010194">
            <i class="fas fa-mobile-alt"></i>
          </a>
      </li>
      <li>
          <a id="second-fab" class="btn-floating" data-fabcolor="#7345ff" href="mailto:direccion@aguileramotors.com">
            <i class="fas fa-envelope"></i>
          </a>
      </li>
      <li>
          <a id="third-fab" class="btn-floating" data-fabcolor="#128C7E" href="https://wa.me/524495362162?text=Hola%20necesito%20información%20sobre%20sus%20servicios" target="_blank">
              <i class="fab fa-whatsapp"></i>
          </a>
      </li>
      <!-- <li>
          <a id="fourth-fab" class="btn-floating" data-fabcolor="#ff7345">
              <i class="material-icons">attach_file</i>
          </a>
      </li> -->
  </ul>
</div>